body {
    background-color: #8da06c;
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

/* Стилізація контейнера */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
  }
  h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2em;
  }
  
  /* Стилізація поля вводу */
  .input 
  .input-container {
    margin-bottom: 10px;
    
  }
  
  /* Стилізація списку завдань */
  ul {
    list-style: none;
    padding: 0;
  }
  